.title {
    text-align: center;
}

.form {
    padding: 15px;
    background-color: pink;
    box-shadow: 0 0 5px white;
    border-radius: 10px;
    width: 30%;
    
}

label {
    display: inline-block;
    margin-bottom: 5px;
} 

input,
textarea {
    display: inline-block;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
}
